[package]
name = "ruplacer"
version = "0.1.0"
authors = ["Dimitri Merejkowsky <d.merej@gmail.com>"]
description = "Find and replace text in files"
license = "BSD-3-Clause"


keywords = ["replacer", "find", "grep", "command", "line"]
categories = ["command-line-utilities"]

repository = "https://github.com/TankerApp/ruplacer"

[dependencies]
ignore = "0.3.1"
clap = "2.27.1"
difference = "1.0.0"
regex = "0.2.2"
term = "0.2.7"

[[bin]]
name = "fr"
path = "src/main.rs"
